.loader,
.loader-inner {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.loader {
  border-top: 10px solid #6a95bb;
  border-right: 10px solid #6a95bb;
  border-bottom: 10px solid #6a95bb;
  border-left: 10px solid #275e8d;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%,-50%)
}