<div class="container">
    <form name="formBottom" class="multi-form" [formGroup]="currencyForm">
        <div class="form-container">
            <div class="form-left">
                <button class="btn btn-primary"
                    (click)="addCurrency()">Add Currency</button>
                <div class="multiple-currencies"
                    *ngFor="let currencies of getCurrencies().controls; let i=index"
                    formArrayName="currencies">
                    <select name="currency-init">
                        <option selected>Choose Currency</option>
                        <option 
                            *ngFor="let abbr of currencyList"
                            value="{{abbr}}">{{ abbr }}</option>
                    </select><br>
                    <input type="text" name="currency-input" class="form-control"
                        [formControlName]="i">
                </div>
            </div>
            <div class="form-right">
                <select name="currency-result">
                    <option selected>Choose Currency</option>
                    <option 
                        *ngFor="let abbr of currencyList"
                        value="{{abbr}}">{{ abbr }}</option>
                </select><br>
                <label for="multi-result">Result</label>
                <input type="text" name="multi-result" class="form-control"
                    [formControlName]="'result'">
            </div>
        </div>
    </form>
</div>