.container {
  padding-top: 40px;
}
form {
  padding-bottom: 50px;
}
.reg {
  width: 30%;
  margin: auto;
  position: relative;
}
.btn-primary {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
