.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(200,200,200);
    padding-bottom: 15px;
}
.container-left {
    width: 50%;
}
.container-right {
    width: 50%;
}
.switch-button {
    padding-top: 10px;
    color: blueviolet;
    cursor: pointer;
}