<app-loader *ngIf="loaderService.isLoading | async"></app-loader>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">
          <p>#</p>
          <p>Name</p>
          <p>Salary</p>
          <p>Age</p>
        </li>
        <li class="list-group-item"
          *ngFor="let i of employees"
          (click)="focusEmployee(i.id)">
            <p>{{ i.id }}</p>
            <p>{{ i.name }}</p>
            <p>{{ i.salary }}</p>
            <p>{{ i.age }}</p>
            <button class="btn btn-warning btn-edit"
              (click)="edit(i)">Edit</button>
            <button class="btn btn-danger btn-remove"
              (click)="delete(i.id)">X</button>
            <button class="btn btn-primary btn-return"
              (click)="paginate(currentPage)"
              *ngIf="isFocusMode">Return List</button>
        </li>
      </ul>
      <div class="pagination">
        <div class="pagination-content">
          <button class="btn btn-primary"
            *ngFor="let i of pages; index as in"
            (click)="paginate(in+1)"
            [ngClass]="{onPage: currentPage===in+1 }">{{ in+1 }}</button>
          <p>Page: {{ currentPage }}</p>
          <p>Number of Employees: {{ employeeNumber }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
