<div class="container">
    <form name="formLeft" [formGroup]="form1">
        <select name="currencies" 
            formControlName="currency1">
            <option value="CAD">CAD</option>
            <option value="HKD">HKD</option>
            <option value="ISK">ISK</option>
            <option value="PHP">PHP</option>
            <option value="DKK">DKK</option>
            <option value="HUF">HUF</option>
            <option value="PHP">PHP</option>
            <option value="CZK">CZK</option>
            <option value="AUD">AUD</option>
            <option value="RON">RON</option>
            <option value="SEK">SEK</option>
            <option value="IDR">IDR</option>
            <option value="INR">INR</option>
            <option value="BRL">BRL</option>
            <option value="RUB">RUB</option>
            <option value="HRK">HRK</option>
            <option value="JPY">JPY</option>
            <option value="THB">THB</option>
            <option value="CHF">CHF</option>
            <option value="SGD">SGD</option>
            <option value="PLN">PLN</option>
            <option value="BGN">BGN</option>
            <option value="TRY">TRY</option>
            <option value="CNY">CNY</option>
            <option value="NOK">NOK</option>
            <option value="NZD">NZD</option>
            <option value="ZAR">ZAR</option>
            <option value="USD">USD</option>
            <option value="MXN">MXN</option>
            <option value="ILS">ILS</option>
            <option value="GBP">GBP</option>
            <option value="KRW">KRW</option>
            <option value="MYR">MYR</option>
            <option value="EUR">EUR</option>
        </select>
        <input type="number" name="currency1" class="form-control" min="0"
            formControlName="value1"
            (keyup)="getCurrency()">
        <p class="switch-button">Switch</p>
        <select name="currencies" class=""
            formControlName="currency2">
            <option value="CAD">CAD</option>
            <option value="HKD">HKD</option>
            <option value="ISK">ISK</option>
            <option value="PHP">PHP</option>
            <option value="DKK">DKK</option>
            <option value="HUF">HUF</option>
            <option value="PHP">PHP</option>
            <option value="CZK">CZK</option>
            <option value="AUD">AUD</option>
            <option value="RON">RON</option>
            <option value="SEK">SEK</option>
            <option value="IDR">IDR</option>
            <option value="INR">INR</option>
            <option value="BRL">BRL</option>
            <option value="RUB">RUB</option>
            <option value="HRK">HRK</option>
            <option value="JPY">JPY</option>
            <option value="THB">THB</option>
            <option value="CHF">CHF</option>
            <option value="SGD">SGD</option>
            <option value="PLN">PLN</option>
            <option value="BGN">BGN</option>
            <option value="TRY">TRY</option>
            <option value="CNY">CNY</option>
            <option value="NOK">NOK</option>
            <option value="NZD">NZD</option>
            <option value="ZAR">ZAR</option>
            <option value="USD">USD</option>
            <option value="MXN">MXN</option>
            <option value="ILS">ILS</option>
            <option value="GBP">GBP</option>
            <option value="KRW">KRW</option>
            <option value="MYR">MYR</option>
            <option value="EUR">EUR</option>
        </select>
        <br>
        <input type="number" name="currency2" class="form-control" min="0"
            formControlName="value2"
            (keyup)="getCurrency()">
    </form>
</div>