<div class="container">
    <form name="formTop" [formGroup]="form1">
        <select name="currencies">
            <option selected>Choose Currency</option>
            <option 
                *ngFor="let abbr of currencyList"
                value="{{abbr}}">{{ abbr }}</option>
        </select>
        <input type="number" name="currency1" class="form-control" min="0"
            formControlName="value1"
            (keyup)="getCurrency()">
        <p class="switch-button">Switch</p>
        <select name="currencies" class=""
            formControlName="currency2">
            <option>Choose Currency</option>
            <option 
                *ngFor="let abbr of currencyList"
                value="{{abbr}}">{{ abbr }}</option>
        </select>
        <br>
        <input type="number" name="currency2" class="form-control" min="0"
            formControlName="value2"
            (keyup)="getCurrency()">
    </form>
</div>